//
// Content
//

// General mode
.content {
	background-color: $content-bg-color;
}

.switch-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.switch-wrapper > div {
  position: absolute;
  width: 100%;
  height: 100%;

}


// Desktop mode
@include media-breakpoint-up(lg) {
	.content {
		padding: get($content-spacing, desktop) 0;
	}
}

// Tablet & mobile modes
@include media-breakpoint-down(lg) {
	.content {
		padding: get($content-spacing, tablet-and-mobile) 0;
	}
}
